<!DOCTYPE html>
<html>
  <head>
    <title>Nikita Bogdan</title>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
		  <div id="header"><%= render 'layouts/header' %></div>
		  <div id="content"><%= yield %></div>
		  <div id="footer"><%= render 'layouts/footer' %></div>
	  </div>
  </body>
</html>
